body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: lightslategray; */
    background-image: url("./imgs/bgs/brooke-lark-500141-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

h2 {
    padding-left: 100px;
}

img {
    height: 150px;
    width: 100%
}

footer {
    padding-top: 200px;
}

a:hover {
    color: red;
}

.sanya {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-decoration-color: white;
}

.Navbar__Link:hover {
    color: red;
}

.Navbar {
    display: flex;
    /* background-color: #46ACC2; */
    padding: 16px;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

.Navbar__Link-brand {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    font-weight: 100;
    margin-left: 40px;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.btns {
    display: flex;
    justify-content: center;
}

.falz {
    width: 10%;
    background-color: green;
    color: white;
    display: inline-block;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Link {
    padding-right: 15px;
    cursor: pointer;
}

.Navbar__Items--right {
    margin-left: auto;
    padding: 20px;
}

/* Cards */
.meoww {
    text-align: center;
    display: inline;
}

.gbe-body {
    display: flex;
    justify-content: center;
    color: lightblue;
}

.yahman {
    background-color: lightblue;
}

.grid {
    padding-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
    text-align: center;
    background-blend-mode: darken;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }

.end {
    display: flex;
    justify-content: center;
}    

.ene {
    color: red;
}

.after {
    padding-top: 100px;
    padding-left: 100px;
}

.price {
    padding-left: 10px;
    font-size: 15px;
}

.yan {
    color: red;
}

#gbefun {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: lightsalmon;
}

#today {
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}